.footer .social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    height: 70px;
}

.footer {
    background-color: var(--dark-background);
}

.footer__wrapper {
    padding: 100px 0;
}

.footer .title {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 75px 0;
    gap: 10px;
}

.footer__list a {
    color: var(--text-color);
    font-family: Graphik;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.tell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tell,
.footer,
.social {
    text-align: center;
    margin: 0 auto 15px auto;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
}

.map__img {
    width: 35px;
    height: 35px;
}

.footer .text,
.footer .tell a {
    margin: 0;
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.2px;
}

@media (min-width:1200px) {
    .footer__wrapper {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .social {
        margin: auto 0;
    }

    .tell {
        justify-content: flex-start;
    }

    .footer__list a {
        font-family: Graphik;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.2px;
    }
}