.header {
    background-image: url("../img/bg_header_mob.svg");
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 860px;
    padding: 0 0 30px 0;
    position: relative;
}

.nav {
    display: flex;
    margin-bottom: 80px;
}

.nav__btn {
    background-color: transparent;
    border: none;
    margin: auto 0 auto auto;
}

.nav__list {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    background-color: rgb(204, 204, 204, 0.9);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.nav__menu-item {
    margin-bottom: 50px;
    font-size: 22px;
}

.nav__menu-item a {
    color: #080808;
}

.btn__close {
    position: absolute;
    top: 3%;
    right: 1%;
    border: none;
    background-color: #ccc;
    color: #080808;
    font-size: 25px;
    border-radius: 50%;
    padding: 10px 15px;
}

.socials {
    display: none;
}

.logo {
    margin: 10px 0 0 10px;
}

.header__main .header__text {
    margin-bottom: 70px;
    color: var(--text-color);
}

h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px 0;
    margin: 0 auto 27px;
}

.header__main-btn .btn {
    letter-spacing: 0.2px;
    font-weight: 400;
}

@media (min-width: 415px) {
    .header {
        min-width: 100%;
        background-image: url("../img/bg_desc_header.jpeg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
    }

    .nav {
        margin-bottom: 100px;
    }
}

@media (min-width: 920px) {
    .header {
        padding-top: 20px;
    }

    .btn__close {
        display: none;
    }

    .nav__list {
        position: unset;
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        color: #fff;
    }

    .nav__menu-item a {
        color: var(--text-color);
        font-size: 20px;
    }

    .nav__menu-item {
        margin: 0;
    }

    .header .nav {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }

    .nav__list {
        display: flex;
        justify-content: center;
        gap: 21px
    }

    .logo {
        margin: auto 0 auto 30px;
    }

    .nav__btn {
        display: none;
    }

    .socials {
        display: flex;
        gap: 18px;
        margin-right: 20px;
        margin-left: auto;
    }

    .social__item img {
        width: 35px;
        height: 35px;
    }

    .header .desktop__text {
        display: block;
        margin-bottom: 120px;
        color: var(--text-color);
    }

    .header__main .header__text {
        margin-bottom: 0;
    }

    .btn__close {
        display: none;
    }
}

@media (min-width: 1200px) {
    .header {
        padding-top: 40px;
    }

    .header .nav {
        margin: 0 auto 100px auto;
        width: 1000px;
    }

    .nav__list {
        gap: 40px;
    }

    .logo {
        margin-left: 50px;
    }
}